div {
  background: lightblue;
	width: 200px;
	height: 100px;
	margin: 20px;
    padding: 20px; 
    border: 10px solid black; 
  
}
.box-1 {
  box-sizing: content-box;
}
.box-2 {
  box-sizing: border-box;
}
body {
  font-size: 24px;
  font-family: avenir, sans-serif;
}
div {
 background: pink; 
   height: 50px;  
 width: 200px; 
  margin: 20px;
    padding: 40px;
  border: 4p
  display:
  ne; 

san {
 background: lightblue;
   height: 50px;  
    width: 200px; 
   margin: 20px; 
  padding: 40px; 
   border: 4px solid black; 
   display: block
}

/* 
Presentation styles. No changes 
are necessary for the exercise. */
div, span {
  font-size: 22px;
  font-family: avenir, sans-serif;
}