/* Global Styles */
/*
    dark-green - #3c8453
    sarly-bridge - #bcaa96
    dark grey - #222
    light grey - #d3d4d6
    off-white - #f6f6f6
    */
body{
    background-color: #f6f6f6;
}
a{
    color:#3c8453
}
html{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
a:hover{
    color: #bcaa96;
}
.content-wrapper {
    background-color: rgba(255,22355,255,0.9);
    background: no-repeat;
}
.socials{
    list-style-type: none;
    padding: 0;
}
.socials li{
    display: inline;
}
/* Index */
.home{
   background: url(placeholder-images/bg-home-office-studio.jpg) no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
}
.home .content-wrapper{
    margin: 0 auto;
    padding: 30px;
    flex: 1 0 auto;
}
.home .content-bg{
    padding: 30px;
    background: rgba(255,255,255,0.9);
}
/* Resume */
.resume header::before{
    background: url(/placeholder-images/bg-home-office-studio.jpg) center/cover;
    content:"";
    display:block;
    height: 375px;
}
.resume-section{
    margin-bottom: 50px;
}
.resume-section h2{
    border-bottom: 2px dashed #d3d4d6;
}
.btn download-link{
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Profile */
/* Projects */
/* Work Experience */
/* Education */
/* Footer */
footer{
background-color: #222;
color: #D3D4D6;
display: flex;
justify-content: space-between;
padding-inline: 20px;
}
footer a{
    color: #bcaa96;
}
footer a:hover{
    color: #3c8453;
}
.socials{
    list-style-type: none;
    padding: 0;
}
.socials img{
width: 32px;
}
.socials li{
    display: inline-block;
    margin-left: 10px;
}
.socials img:hover{
    opacity: 50%;
}